.editable-element-chart {
  position: absolute;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform;

  &.lock .element-content {
    cursor: default;
  }
}
.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: move;
}
