@use './turningModes.scss' as turning;

.screen-slide-list {
  background: #1d1d1d;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 1600px;

  &.paper {
    background: transparent;

    .slide-content {
      border-radius: 8px;
      outline: 1px solid rgba(24, 24, 27, 0.08);
    }
  }
}
.slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include turning.turning-slide-item;

  &.before,
  &.after {
    pointer-events: none;
  }

  &:not(.last, .next, .current) {
    z-index: -1;
  }

  &.hide {
    opacity: 0;
  }
}
.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
