.writing-board {
  z-index: 8;
  cursor: none;
  touch-action: none;
  @include absolute-0();
}
.blackboard {
  width: 100%;
  height: 100%;
  background-color: #0f392b;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
}
.eraser, .pen {
  pointer-events: none;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  will-change: transform;

  .icon {
    filter: drop-shadow(2px 2px 2px #555);
  }
}
.eraser {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid rgba($color: #555, $alpha: .15);
  color: rgba($color: #555, $alpha: .75);
}
