.line-style-panel {
  user-select: none;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.line-pool-wrapper {
  width: 235px;
  padding: 5px;
  border: 1px solid $borderColor;
  margin-bottom: 20px;
}
.line-type-list {
  @include flex-grid-layout();
}
.line-type-item {
  @include flex-grid-layout-children(6, 14%);

  height: 0;
  padding-bottom: 14%;
  margin-bottom: 0;
  flex-shrink: 0;
  position: relative;
  color: #999;
  cursor: pointer;

  &:hover {
    color: $ink;
  }
}
.line-type-content {
  @include absolute-0();

  display: flex;
  justify-content: center;
  align-items: center;
}
.line-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 !important;

  .line-wrapper {
    margin-left: 8px;
  }
}
.line-wrapper {
  overflow: visible;
}
.preset-point-style {
  padding: 0 10px;

  & + .preset-point-style {
    margin-top: 10px;
  }
}
.option {
  height: 32px;
  padding: 0 5px;
  border-radius: $borderRadius;

  &:not(.selected):hover {
    background-color: $surface;
    cursor: pointer;
  }

  &.selected {
    color: $ink;
    font-weight: 700;
  }
}
